<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inno.home">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.login.LoginGuideActivity" />
        <activity
            android:name=".controller.login.LoginActivity"
            android:theme="@style/SearchViewStyle" />
        <activity
            android:name=".controller.MainActivity"
            android:theme="@style/SearchViewStyle" />
        <activity android:name=".controller.person.PersonActivity" />
        <activity android:name=".controller.person.AboutActivity" />
        <activity android:name=".controller.person.SharedUserActivity" />
        <activity android:name=".controller.person.ContactUsActivity" />
        <activity
            android:name=".controller.person.UserInfoActivity"
            android:theme="@style/SearchViewStyle" />
        <activity android:name=".controller.person.EmailActivity" />
        <activity
            android:name=".controller.device.DeviceTypeActivity"
            android:theme="@style/SearchViewStyle" />
        <activity android:name=".controller.device.ProductTypeActivity" />
        <activity android:name=".controller.device.DeviceListActivity" />
        <activity android:name=".controller.device.ProductConnectActivity" />
        <activity android:name=".controller.device.DeviceControlActivity" />
        <activity android:name=".controller.person.about.AboutContentActivity" />
    </application>

</manifest>